**/node_modules/
**/dist/
**/target/
*.versionsBackup
release.properties
.DS_Store
.idea/
*.iml
.vscode/
.java-version
.flattened-pom.xml
**/playwright-report/
**/test-results/
workspace/
.gradle/
build/
!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
